.character-box {
  width: 280px;
  height: min-content;
  padding: 15px;
  display: grid;
  grid-template-columns: 120px 160px;

  background-color: rgb(20, 29, 20);
  /* box-shadow: 1px 0px 9px 5px rgba(134, 245, 6, 0.678); */
}
.character-box__alive {
  box-shadow: 1px 0px 9px 5px rgba(134, 245, 6, 0.678);
  color: rgba(134, 245, 6, 0.678);
}

.character-box__unknown {
  box-shadow: 1px 0px 9px 5px rgba(238, 217, 25, 0.678);
  color: rgba(238, 217, 25, 0.678);
}
.character-box__dead {
  box-shadow: 1px 0px 9px 5px rgba(236, 17, 138, 0.678);
  color: rgba(236, 17, 138, 0.678);
}

.character-box__image {
  grid-column: 1 / 2;

  height: 90px;

  border-radius: 15%;
  object-fit: cover;
}

.character-box__titel {
  grid-column: 2 / 3;
  font-size: 16px;
}
