*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
body {
  margin: 0px;
}
.body-grid {
  height: 100vh;
  height: 100vh;
  /* max-width: 650px; */
  margin: 0;
  display: grid;
  grid-template-rows: [header] 15% [main] 1fr [footer] 60px;
}

header {
  grid-row: 1 / 2;
  background-color: var(--background-dark);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

main {
  grid-row: 2/3;
  background-color: var(--background-lighter);
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
  scroll-padding: 50px 0 50px 0;
}

footer {
  grid-row: 3/4;
  background-color: var(--background-dark);
  display: flex;
  justify-content: center;
  scroll-margin-top: 100px;
}
.header-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5%;
}
.header-form {
  display: block;

  width: 60%;
}

svg {
  height: 80%;
}

.background-image {
  width: 240px;
}
@media (min-width: 650px) {
  .body-grid {
    grid-template-columns: 1fr 650px 1fr;
    background-image: url(../images/galaxy.jpg);
  }
  main {
    grid-column: 2 / 3;
  }

  header {
    grid-column: 2 / 3;
  }

  footer {
    grid-column: 2 / 3;
  }
}
